En cas avec childrens
<li class="navigation__item">
    <a href="#" class="navigation__link">Home</a>
    <div class="box-menu" style={{width: '800px'}}>
      <div class="col pe-4">
        <ul class="sub-menu__list list-unstyled">
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo1/index.html" class="menu-link menu-link_us-s">Home 1</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo2/index.html" class="menu-link menu-link_us-s">Home 2</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo3/index.html" class="menu-link menu-link_us-s">Home 3</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo4/index.html" class="menu-link menu-link_us-s">Home 4</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo5/index.html" class="menu-link menu-link_us-s">Home 5</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo6/index.html" class="menu-link menu-link_us-s">Home 6</a></li>
        </ul>
      </div>

      <div class="col pe-4">
        <ul class="sub-menu__list list-unstyled">
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo7/index.html" class="menu-link menu-link_us-s">Home 7</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo8/index.html" class="menu-link menu-link_us-s">Home 8</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo9/index.html" class="menu-link menu-link_us-s">Home 9</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo10/index.html" class="menu-link menu-link_us-s">Home 10</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo11/index.html" class="menu-link menu-link_us-s">Home 11</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo12/index.html" class="menu-link menu-link_us-s">Home 12</a></li>
        </ul>
      </div>

      <div class="col pe-4">
        <ul class="sub-menu__list list-unstyled">
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo13/index.html" class="menu-link menu-link_us-s">Home 13</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo14/index.html" class="menu-link menu-link_us-s">Home 14</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo15/index.html" class="menu-link menu-link_us-s">Home 15</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo16/index.html" class="menu-link menu-link_us-s">Home 16</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo17/index.html" class="menu-link menu-link_us-s">Home 17</a></li>
          <li class="sub-menu__item"><a href="index.html" class="menu-link menu-link_us-s">Home 18</a></li>
        </ul>
      </div>

      <div class="col">
        <ul class="sub-menu__list list-unstyled">
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo19/index.html" class="menu-link menu-link_us-s">Home 19</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo20/index.html" class="menu-link menu-link_us-s">Home 20</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo21/index.html" class="menu-link menu-link_us-s">Home 21</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo22/index.html" class="menu-link menu-link_us-s">Home 22</a></li>
          <li class="sub-menu__item"><a href="https://uomo-html.flexkitux.com/Demo23/index.html" class="menu-link menu-link_us-s">Home 23</a></li>
        </ul>
      </div>
    </div>
  </li>


  En cas sans childrens
  <li class="navigation__item">
    <a href="about.html" class="navigation__link">About</a>
  </li>